node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
.idea
*.pyc
static/download

__pycache__/
*$py.class
# C extensions
*.so
.Python
env/
develop-eggs/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
*.mo
*.pot
.webassets-cache
.ipynb_checkpoints
.python-version
celerybeat-schedule
.venv
venv/
ENV/
tmp
static/upload
.env
build
dist
